<% include partials/_header-form %>
<main class="form-signin">
    <form class="text-center" action="/login" method="post">
        <% if(errors.length > 0) { %>
            <% errors.forEach(err => { %>
                <div class="alert alert-danger mb-3">
                    <p class="m-0"><%= err %></p>
                </div>
            <% }) %>
        <% } %>
        <img src="/nodejs-icon.svg" alt="" width="72" height="57" class="mb-3" />
        <h1 class="h3 mb-3 fw-normal">Please sign in</h1>
        <div class="form-floating mb-2"><input class="form-control" id="floatingInput" type="text" placeholder="Username" name="username" /><label for="floatingInput">Username</label></div>
        <div class="form-floating"><input class="form-control" id="floatingPassword" type="password" placeholder="Password" name="password" /><label for="floatingPassword">Password</label></div><button class="w-100 btn btn-lg btn-primary" type="submit">Sign in</button>
    </form>
</main>
<% include partials/_footer %>